<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  
</style>

<!-- Toolbar -->
<div class="container"> 
  <form>  
    <div class="form-group">  
      <h1 class="text-center text-primary">The Idks of March</h1>   
      <div class="input-group-prepend">       
        <form (submit)="getCipher()">
        <input type="text" class="form-control" placeholder="Enter Text You Want To Encode" name="text" /> 
        <input type="text" class="form-control" placeholder="Enter Text You Want To Encode" name="shift" />    
        <button type="submit" class="input-group-text">Run Cipher</button>  
        </form>
      </div>  
    </div>
  </form>
  <div class="data">  
    <ul class="list-instyled">   
      <li *ngFor="let cipher of cipherArray">{{cipher}}</li>  
    </ul>  
  </div>
</div>
<router-outlet></router-outlet>